ansible==4.6.0
ansible-core==2.11.5
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
cryptography==35.0.0
dnacentersdk==2.3.2
fastjsonschema==2.15.1
future==0.18.2
idna==3.2
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
requests==2.26.0
requests-toolbelt==0.9.1
resolvelib==0.5.4
urllib3==1.26.7